@charset "UTF-8";
/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.each-list {
  background-color: #fff; }
  .each-list .each-list-detail {
    padding: 0.33333rem;
    padding-left: 1.26667rem; }
    .each-list .each-list-detail .detail-line {
      display: flex; }
      .each-list .each-list-detail .detail-line .title {
        flex: 1; }
