@import '../base/_mixin.scss';
@import '../base/_variable.scss';

// 商品
.good-item{ 
	padding:rem(30px) rem(25px);
	display:flex;
	.good-item-avator{
		.img{
			$w:rem(128px);
			width:$w;
			height:$w;
			border-radius: rem(4px);
			display: block;
		}
	}
	.good-item-detail{
		line-height: 1;
		flex-grow:1;
		flex-basis:0;
		min-width: 0;
		.sub-text{
			display: flex;
			.l{
				flex-grow:1;
				flex-basis:0;
			}
		}
		.title{
			font-size:fsrem(32px);
			margin-top:rem(4px);
			.h3{
				font-size:fsrem(32px);
				@include ellipsis();
			}
		}
		.text{
			color:#a2a2a2;
		}
		.price{ 
			.price-icon{
				font-size: fsrem(20px);
			}
			.price-num{
				font-size: fsrem(28px);
			}
		}
	}
}

