$yellow : #fdca00;
$bd-gray : #ededed;

$light 			 : #fff;			// 白
$dark			 : #000;			// 黑

$stable			 : #d5d5d5;			// 灰
$stable-light    : #ededed;			// 浅灰

$primary         : #30b9d6;			// 蓝色
$primary-light   : #6be0df;			// 亮蓝

$assertive       : #f01414;			// 大红
$assertive-dark  : #ff415b;			// 深红

$energized-light : #f9c22f;			// 黄色
$energized       : #fa952f;			// 橙色
$energized-dark  : #f37d2e;			// 深橙色

$kelly 			 : #87e28b;			// 草绿
$romance 		 : #ff869f;			// 粉红
