@charset "UTF-8";
/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.app-header {
  line-height: 1.33333rem;
  height: 1.33333rem;
  background-color: #fff;
  border-bottom: 0.01333rem solid #ededed;
  position: relative; }
  .app-header .header-back,
  .app-header .header-util {
    padding: 0 0.33333rem;
    position: absolute;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .app-header .header-back:active,
    .app-header .header-util:active {
      background-color: rgba(125, 125, 125, 0.1) !important; }
    .app-header .header-back .text,
    .app-header .header-back .icon,
    .app-header .header-util .text,
    .app-header .header-util .icon {
      vertical-align: middle; }
    .app-header .header-back .icon,
    .app-header .header-util .icon {
      font-size: 0.48rem; }
  .app-header .header-back {
    left: 0; }
    .app-header .header-back .link {
      display: block;
      padding: 0 0.33333rem;
      margin: 0 -0.33333rem; }
  .app-header .header-title {
    font-size: 0.48rem;
    text-align: center;
    padding: 0 2.66667rem;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .app-header .header-util {
    right: 0;
    text-align: right; }

/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.badge {
  min-width: 0.42667rem;
  line-height: 0.42667rem;
  border-radius: 0.21333rem;
  padding: 0 0.13333rem;
  font-size: 0.24rem;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  display: inline-block; }

/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.app-btn {
  line-height: 2.5;
  font-size: 0.42667rem;
  text-align: center;
  padding: 0 0.45333rem;
  border-radius: 0.10667rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #666;
  display: block; }
  .app-btn:active {
    opacity: 0.7; }
  .app-btn.mini {
    line-height: 2.3;
    font-size: 0.37333rem;
    display: inline-block; }
  .app-btn.app-btn-disabled {
    color: #999;
    background-color: #eee; }
  .app-btn.app-btn-energized {
    color: #fff;
    background-color: #f9c22f; }
  .app-btn.app-btn-assertive {
    color: #fff;
    background-color: #f01414; }

.app-grid {
  overflow: hidden; }
  .app-grid .col-2 {
    width: 50%;
    float: left; }
  .app-grid .col-3 {
    width: 33.3%;
    float: left; }
  .app-grid .col-4 {
    width: 25%;
    float: left; }
  .app-grid .col-5 {
    width: 20%;
    float: left; }

/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.label-act {
  display: flex;
  align-items: center;
  height: 1.17333rem;
  padding: 0 0.33333rem;
  background-color: #fff;
  position: relative; }
  .label-act.underline:after {
    content: ' ';
    height: 0.01333rem;
    background-color: #ededed;
    display: block;
    position: absolute;
    left: 1.26667rem;
    bottom: 0;
    right: 0; }
  .label-act.underline.underline-full:after {
    left: 0; }
  .label-act.large {
    height: auto; }
    .label-act.large .label-act-link {
      align-items: flex-start;
      padding-top: 0.26667rem;
      padding-bottom: 0.26667rem; }
    .label-act.large .act-icon .icon {
      width: 0.74667rem;
      height: 0.74667rem;
      line-height: 0.74667rem; }
  .label-act .label-act-link {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    margin: 0 -0.33333rem;
    padding: 0 0.33333rem; }
    .label-act .label-act-link:active {
      background-color: rgba(125, 125, 125, 0.1) !important; }
  .label-act .act-icon {
    width: 0.8rem;
    color: #fff;
    font-size: 0.4rem; }
    .label-act .act-icon .icon {
      width: 0.61333rem;
      height: 0.61333rem;
      line-height: 0.61333rem;
      text-align: center;
      border-radius: 50%;
      display: block; }
  .label-act .act-title {
    flex-grow: 1;
    flex-basis: 0; }
  .label-act .act-sub {
    color: #999; }
  .label-act .act-arrow {
    color: #999; }

.sort-panel {
  background-color: #fff;
  border-bottom: 0.01333rem solid #ededed;
  position: relative;
  display: flex; }
  .sort-panel:after {
    content: ' ';
    width: 2.33333rem;
    height: 0.06667rem;
    background-color: #f9c22f;
    display: inline-block;
    position: absolute;
    bottom: -0.01333rem;
    left: 25%;
    margin-left: -1.16667rem;
    transition: all .5s; }
  .sort-panel.cutting-line .sort-item {
    position: relative; }
    .sort-panel.cutting-line .sort-item:after {
      content: ' ';
      width: 0.01333rem;
      position: absolute;
      top: 0.26667rem;
      right: 0;
      bottom: 0.26667rem;
      background-color: #ededed;
      display: block; }
    .sort-panel.cutting-line .sort-item:last-child:after {
      display: none; }
  .sort-panel .sort-item {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.26667rem;
    color: #666;
    font-size: 0.37333rem;
    text-align: center; }
    .sort-panel .sort-item:active {
      background-color: rgba(125, 125, 125, 0.1) !important; }
    .sort-panel .sort-item.active {
      color: #333;
      font-weight: bold; }
    .sort-panel .sort-item .icon {
      color: #999;
      transform: rotate(180deg);
      transform-origin: 50% 50%;
      transition: all .7s;
      display: inline-block; }

/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.good-item {
  padding: 0.4rem 0.33333rem;
  display: flex; }
  .good-item .good-item-avator .img {
    width: 1.70667rem;
    height: 1.70667rem;
    border-radius: 0.05333rem;
    display: block; }
  .good-item .good-item-detail {
    line-height: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0; }
    .good-item .good-item-detail .sub-text {
      display: flex; }
      .good-item .good-item-detail .sub-text .l {
        flex-grow: 1;
        flex-basis: 0; }
    .good-item .good-item-detail .title {
      font-size: 0.42667rem;
      margin-top: 0.05333rem; }
      .good-item .good-item-detail .title .h3 {
        font-size: 0.42667rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .good-item .good-item-detail .text {
      color: #a2a2a2; }
    .good-item .good-item-detail .price .price-icon {
      font-size: 0.26667rem; }
    .good-item .good-item-detail .price .price-num {
      font-size: 0.37333rem; }

body {
  color: #333;
  background-color: #f5f5f5; }

.discount-price {
  font-size: 0.37333rem; }

.old-price {
  color: #93999f;
  font-size: 0.26667rem; }
