@charset "UTF-8";
/*基准尺寸，设计稿psd的宽度/10，本psd中宽度为750px*/
/*点击态的背景*/
/*字体超出变省略号*/
/*定位*/
/* 实心三角形
 * 参数有4个
 * $tb : 上下边框宽
 * $lr : 左右边框宽
 * $direction : 三角形指向(top, right, bottom, left)
 * $color : 三角形颜色
 */
.action-badge {
  min-width: 0.42667rem;
  line-height: 0.42667rem;
  border-radius: 0.04rem;
  padding: 0 0.09333rem;
  font-size: 0.24rem;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  display: inline-block; }
